@import "variables";

.principal{
    position: static;
}

.contactForm{
    position: absolute;
    top: 4100px;
    left: 20px;
    margin: auto;
    background-color:$Nav-email ;
    width: 90%;
    border-radius: 5%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }
    input{
        text-align: center;
        color: gray;
        padding: auto;
        border:1px solid white;
        background-color: white;
        border-radius: 30px;
        width: 100%;
        height: 60px;
        font-size: 20px;
        margin: 0 0 20px 0;
        
    }
    button {
        border:1px hsl(198, 60%, 50%);
        padding: 10px;
        background-color: hsl(198, 60%, 50%);
        border-radius: 30px;
        width: 100%;
        height: 60px;
        font-size: 20px;
        margin: 0 0 50px 0;
    } 
}