header {
    display: flex;
    flex-direction: column;

    background-color: $Nav-email;
    background-size: contain;
    background-position: bottom;
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    justify-content: space-between;


    nav {
        padding-bottom: 20px;

        div {
            display: flex;
            justify-content: space-between;






            img {
                padding: 10px;
                margin: 10px;
                width: 120px;
                height: auto;
            }

            ul {
                padding-top: 10px;
                margin: 10px;
                display: flex;
                justify-content: flex-end;

                li {

                    list-style: none;
                    padding: 7px;

                    a {
                        text-decoration: none;
                        background-image: linear-gradient(currentColor, currentColor);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        transition: background-size .3s;
                    }
                    
                    a:hover, a:focus {
                        background-size: 100% 2px;
                    }


                }

            }

        }
    }

    section {
        img {
            padding: 0 20px 0 20px;


        }

        h2 {
            padding-top: 20px;
            text-align: center;
        }

    }

}

@media only screen and (min-width:768px) {
    header {
        display: flex;
        flex-direction: column;

        background-color: $Nav-email;
        background-size: contain;
        background-position: bottom;
        background-image: url(../images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        justify-content: space-between;


        nav {
            padding-bottom: 20px;

            div {
                display: flex;
                justify-content: space-between;






                img {
                    padding: 20px;
                    margin: 20px;
                    width: 140px;
                    height: auto;
                }

                ul {
                    padding-top: 20px;
                    margin: 20px 40px;
                    display: flex;
                    justify-content: flex-end;

                    li {
                        font-size: 15px;

                        list-style: none;
                        padding: 14px;

                    }

                }

            }
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                
                width: 500px;


            }

            h2 {
                width: 400px;
                padding-top: 20px;
                text-align: center;
            }

        }

    }

}