@import "variables";

header {
    background-color: $Nav-email;

    nav {
        div {
            display: flex;
            justify-content: space-between;
            img {
                margin: 15px;
                width: 90px;
                height: 30px;
            }

            ul {
                margin: 15px;
                display: flex;
                justify-content: flex-end;

                li {
                    list-style: none;
                    padding: 5px;

                }

            }
        }
    }

}