* {
    font-family: $font-openSans;
    /* ont-weight: 400, 700; */
}

body {
    background-color: $main-color;
}

.img {
    max-width: 100%;
}

/* ---MAIN CONTAINER--- */
/* .main-container {
    display: flex;
    flex-direction: column;
} */


/* ---SECTION INTRO--- */

.main {
    /* justify-content: center; */
    /* align-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-color;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid red;
    width: 90%;
    margin: 0px 0px;
    background-image: url(images/bg-curvy-mobile.svg);
    background-color: $main-color;
}




.intro h2 {
    padding: 50px 0px 25px 0px;
    text-align: center;
}

.intro h3 {
    padding: 0px 0px 50px 0px;
    text-align: center;
}

.intro button {
    border: 0px solid blue;
    background-color: hsl(198, 60%, 50%);
    border-radius: 30px;
    width: 350px;
    height: 60px;
    font-size: 20px;
    margin: 0 0 50px 0;
}

/* ---FEATURES LIST--- */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid red;
    margin: 50px 50px;
    background-color: $main-color;

}

.feature-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    width: 300px;
    border: 0px solid green;
}

.feature-title {
    border: 0px solid purple;
    text-align: center;
    padding: 25px 0;
    font-weight: bold;
    font-size: 25px;
}

.feature-content {
    border: 0px solid orange;
    text-align: center;
}

/* ---SECTION MAIN FEATURE--- */

.main-feature {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    border: 0px solid green;
    width: 80%;
    background-color: $main-color;
}

.img-feature {
    background-color: $main-color;
    border: 0px solid red;
}

.main-feature-text {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
}

.main-feature h2 {
    border: 0px solid yellow;
    padding-top: 20px;
}

.main-feature h5 {
    border: 0px solid red;
    padding: 20px 0;
}

.main-feature a {
    border: 0px solid red;
    color: hsl(176, 68%, 64%);
    font-weight: bold;
    background-color: $main-color;
}

/* --- SECTION COMMENTS --- */

.comments {
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    background-color: $main-color;    
    border: 0px solid red;
    margin: 50px 0px;
    
    .quotes {
        width: 50px;
        height: auto;
        align-items: flex-end;
    }
}

.comments-item {
    display: flex;
    flex-direction: column;
    border: 0px solid green;
    border-radius: 10px;
    max-width: 350px;
    margin: 20px 20px;
    background-color: hsl(219, 30%, 18%);
    padding: 20px 20px 10px 20px;
}

.container-id {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    border: 0px solid red;
    /* padding: 15px 0; */
    background-color: transparent;
}

.pic-profile {
    background-color: hsl(219, 30%, 18%);
    border: 0px solid rgb(229, 238, 52);
    padding: 20px;
}

.pic-image {
    border-radius: 80px;
    width: 50px;
}

.name {
    border: 0px solid rgb(229, 238, 52);
    background-color: hsl(219, 30%, 18%);
    padding-left: 0px;
}

.name h5 {
    border: 0px solid rgb(229, 238, 52);
    background-color: hsl(219, 30%, 18%);
}

/* --- RESPONSIVE @MEDIA VARIABLES --- */

@media only screen and (min-width:768px){
    .features {
        flex-direction: unset;
        flex-wrap: wrap;    
    }

    .comments {
        border: 0px solid pink;
        flex-direction: row;
        align-items: center;

        .quotes {
            
        }
    }
    
    .comments-item {
        border: 0px solid green;
        border-radius: 10px;
        max-width: 350px;
    }

    .container-id {
        border: 0px solid purple;
        padding: 0;
    }

    .pic-profile {
        /* background-color: hsl(219, 30%, 18%); */
        border: 0px solid rgb(229, 238, 52);
        padding: 0;
    }

    .pic-image {
        border: 0px solid green;
        border-radius: 80px;
        size: 200px;
        padding: 0;
        margin: 0;
    }

    .name {
        padding-left: 15px;
    }

}