* {
    font-family: $font-openSans;
    font-weight: 400, 700;
}

.img {
    max-width: 100%;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: unset;
    margin: 50px 50px;
}

.feature-article {
    padding: 30px 25px;
    width: 300px;
}

.article-title {
    font-weight: 700;
}

.article-content {
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    border-radius: 10px;
    width: 350px;
    margin: 20px 20px;
    background-color: hsl(219, 30%, 18%);
    padding: 30px 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
}

.pic-profile {
    border-radius: 80px;
    width: 50px;
}