.main-container {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.main {
    position: relative;
}

.comments {
    position: relative;
}

.contactForm {
    border: 0px solid red;
    position: absolute;
    bottom: -5%;
}