$Nav-email:hsl(217, 28%, 15%);
$main-color:hsl(218, 28%, 13%);
$footer-color:hsl(216, 53%, 9%);
$testimonials-color:hsl(219, 30%, 18%);
$font-raleway: 'Raleway', sans-serif;
$font-openSans: 'Open Sans', sans-serif;