* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

img {
  max-width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1c2431;
  background-size: contain;
  background-position: bottom;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  padding-bottom: 20px;
}

header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav div img {
  padding: 10px;
  margin: 10px;
  width: 120px;
  height: auto;
}

header nav div ul {
  padding-top: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav div ul li {
  list-style: none;
  padding: 7px;
}

header section img {
  padding: 0 20px 0 20px;
}

header section h2 {
  padding-top: 20px;
  text-align: center;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 20px;
}

.main {
  position: relative;
}

.comments {
  position: relative;
}

.contactForm {
  border: 0px solid red;
  position: absolute;
  bottom: -5%;
}

* {
  font-family: "Raleway", sans-serif;
  /* ont-weight: 400, 700; */
}

body {
  background-color: #181f2a;
}

.img {
  max-width: 100%;
}

/* ---MAIN CONTAINER--- */
/* .main-container {
    display: flex;
    flex-direction: column;
} */
/* ---SECTION INTRO--- */
.main {
  /* justify-content: center; */
  /* align-content: center; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #181f2a;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid red;
  width: 90%;
  margin: 0px 0px;
  background-image: url(images/bg-curvy-mobile.svg);
  background-color: #181f2a;
}

.intro h2 {
  padding: 50px 0px 25px 0px;
  text-align: center;
}

.intro h3 {
  font-size: .87em;
  font-weight: lighter;
  padding: 30px 0px 50px 0px;
  text-align: center;
}

.intro h3 p {
  padding: 3px;
}

.intro button {
  font-weight: bold;
  border: 0px solid blue;
  background-color: #339ecc;
  border-radius: 30px;
  width: 280px;
  height: 58px;
  font-size: 18px;
  margin: 0 0 50px 0;
}

/* ---FEATURES LIST--- */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid red;
  margin: 50px 50px;
  background-color: #181f2a;
}

.feature-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 25px;
  width: 300px;
  border: 0px solid green;
}

.feature-title {
  border: 0px solid purple;
  text-align: center;
  padding: 25px 0;
  font-weight: bold;
  font-size: 25px;
}

.feature-content {
  border: 0px solid orange;
  text-align: center;
}

/* ---SECTION MAIN FEATURE--- */
.main-feature {
  /* display: flex;
    flex-direction: column; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid green;
  width: 80%;
  background-color: #181f2a;
}

.img-feature {
  background-color: #181f2a;
  border: 0px solid red;
}

.main-feature-text {
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-feature h2 {
  border: 0px solid yellow;
  padding-top: 20px;
}

.main-feature h5 {
  font-weight: lighter;
  border: 0px solid red;
  padding: 20px 0;
}

.main-feature a {
  font-size: 13px;
  font-weight: lighter;
  border: px solid red;
  color: #65e2d9;
  background-color: #181f2a;
}

/* --- SECTION COMMENTS --- */
.comments {
  padding-bottom: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #181f2a;
  border: 0px solid red;
  margin: 150px 0px;
}

.comments .quotes {
  margin-left: 23px;
  width: 25px;
  height: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0px solid green;
  border-radius: 10px;
  max-width: 350px;
  margin: 0 20px 20px;
  background-color: #202a3c;
  padding: 20px 20px 10px 20px;
}

.container-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: row; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid red;
  /* padding: 15px 0; */
  background-color: transparent;
}

.pic-profile {
  background-color: #202a3c;
  border: 0px solid #e5ee34;
  padding: 20px;
}

.pic-image {
  border-radius: 80px;
  width: 50px;
}

.name {
  border: 0px solid #e5ee34;
  background-color: #202a3c;
  padding-left: 0px;
}

.name h5 {
  border: 0px solid #e5ee34;
  background-color: #202a3c;
}

/* --- RESPONSIVE @MEDIA VARIABLES --- */
@media only screen and (min-width: 768px) {
  .features {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comments {
    border: 0px solid pink;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments-item {
    border: 0px solid green;
    border-radius: 10px;
    max-width: 350px;
  }
  .container-id {
    border: 0px solid purple;
    padding: 0;
  }
  .pic-profile {
    /* background-color: hsl(219, 30%, 18%); */
    border: 0px solid #e5ee34;
    padding: 0;
  }
  .pic-image {
    border: 0px solid green;
    border-radius: 80px;
    size: 200px;
    padding: 0;
    margin: 0;
  }
  .name {
    padding-left: 15px;
  }
}

/* .principal{
    position: static;
} */
.contactForm {
  padding: 30px 0 10px 0;
  background-color: #1c2431;
  /* top: 300px; */
  left: 10px;
  margin: auto;
  width: 95%;
  border-radius: 10px;
  text-align: center;
}

.contactForm p {
  font-weight: bold;
  font-size: 20px;
}

.contactForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.contactForm div p {
  font-weight: lighter;
  font-size: 15px;
}

.contactForm input {
  text-align: center;
  color: gray;
  padding: auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  font-size: 15px;
  margin: 0 0 20px 0;
}

.contactForm button {
  border: 1px #339ecc;
  padding: 10px;
  background-color: #339ecc;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

/* @media only screen and (min-width:768px){
    .contactForm{
        padding-top: 30px;
        background-color:$Nav-email;
        position: absolute;
        top: 3600px;
        left: 25%;
        margin: auto;
        width: 50%;
        border-radius: 5%;
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
} */
footer {
  background-color: #0b1523;
  padding-top: 300px;
}

footer img {
  width: 230px;
  height: auto;
  padding-left: 40px;
  padding-bottom: 20px;
}

.pie-pagina {
  background-color: #0b1523;
  padding: 0px 10px 10px 10px;
}

.pie-pagina img {
  background-color: #0b1523;
  width: 220px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}

.pie-pagina section {
  background-color: #0b1523;
  text-align: left;
}

.pie-pagina section li {
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  list-style: none;
  background-color: #0b1523;
}

.pie-pagina section i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  background-color: #0b1523;
}

.pie-pagina section div {
  background-color: #0b1523;
  padding: 20px;
}

.pie-pagina section div .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pie-pagina .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.pie-pagina .social i {
  padding: 10px;
  background-color: #0b1523;
}

@media only screen and (min-width: 768px) {
  footer {
    background-color: #0b1523;
    padding-top: 130px;
  }
  img {
    width: 130px;
    height: auto;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .pie-pagina {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 10px 10px 10px;
  }
  .pie-pagina section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pie-pagina section .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pie-pagina section i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2px;
  }
  .pie-pagina section li {
    text-decoration: none;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
  }
  .pie-pagina section div {
    background-color: #0b1523;
    padding: 20px;
  }
  .pie-pagina section div .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pie-pagina .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  .pie-pagina .social i {
    padding: 10px;
    background-color: #0b1523;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    background-color: #0b1523;
    padding-top: 130px;
  }
  img {
    width: 200px;
    height: auto;
    padding-left: 60px;
    padding-bottom: 20px;
  }
  .pie-pagina {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 30px 10px 30px;
  }
  .pie-pagina section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pie-pagina section.section-2-size {
    width: 500px;
  }
  .pie-pagina .contact-info {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pie-pagina .contact-info ul.size {
    width: 55%;
  }
  .pie-pagina i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2px;
  }
  .pie-pagina li {
    text-decoration: none;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style: none;
  }
  .pie-pagina div {
    background-color: #0b1523;
    padding: 20px;
  }
  .pie-pagina div .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
  }
  .social i {
    padding: 10px;
    background-color: #0b1523;
  }
}
/*# sourceMappingURL=styles.css.map */