* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  background-color: #1c2431;
}

img {
  max-width: 100%;
}

header {
  padding: 30px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav #logo {
  background: url(../images/logo.svg);
  background-size: 93px 19px;
  background-repeat: no-repeat;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

* {
  font-family: "Raleway", sans-serif;
  /* ont-weight: 400, 700; */
  background-color: #181f2a;
}

.img {
  max-width: 100%;
}

/* ------------- */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  margin: 50px 50px;
  background-image: url(images/bg-curvy-mobile.svg);
}

.img-main {
  background-image: url(images/bg-curvy-mobile.svg);
}

.intro h2 {
  padding: 50px 0px 25px 0px;
}

.intro h3 {
  padding: 0px 0px 50px 0px;
}

.intro button {
  border: 0px solid blue;
  background-color: #339ecc;
  border-radius: 30px;
  width: 350px;
  height: 60px;
  font-size: 20px;
  margin: 0 0 50px 0;
}

/* ------------- */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  margin: 50px 50px;
}

.feature-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 25px;
  width: 300px;
  border: 1px solid green;
}

.feature-title {
  border: 1px solid purple;
  /* display: flex;
    align-content: center; */
  padding: 25px 0;
  font-weight: 700;
  font-size: 25px;
}

.feature-content {
  border: 1px solid orange;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------------- */
.main-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  margin: 50px 50px;
}

.main-feature h2 {
  padding: 30px 0;
}

.main-feature h3 {
  padding: 30px 0;
}

.main-feature a {
  color: #65e2d9;
}

/* ------------- */
.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  margin: 50px 50px;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid green;
  border-radius: 10px;
  max-width: 350px;
  margin: 20px 20px;
  background-color: #202a3c;
  padding: 30px 20px;
}

.container-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid red;
  padding: 15px 0;
  background-color: transparent;
}

.pic-profile {
  background-color: #202a3c;
  border-radius: 80px;
  width: 50px;
}

.name {
  border: 0px solid #e5ee34;
  background-color: #202a3c;
  padding-left: 15px;
}

.pie-pagina {
  background-color: #0b1523;
  padding: 200px 10px 10px 10px;
}

.pie-pagina img {
  background-color: #0b1523;
  width: 150px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 10px;
}

.pie-pagina section {
  background-color: #0b1523;
  padding-left: 20px;
  text-align: left;
}

.pie-pagina section i {
  padding: 2px;
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pie-pagina section div {
  background-color: #0b1523;
  padding: 20px;
}

.pie-pagina section div .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pie-pagina section div li {
  padding-left: 10px;
  list-style: none;
  background-color: #0b1523;
}

.pie-pagina .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.pie-pagina .social i {
  padding: 10px;
  background-color: #0b1523;
}
/*# sourceMappingURL=styles.css.map */